.arrayBar{
    width: 30px;
    display: inline-block;
    background-color: #588c7e;
    margin: 1px;
 }

.arrayContainer{
    position: relative;
    text-align: center;
}

body{
    background-color: #f2e394;
}

.buttonContainer{
    background-color: #ff6f69;
    height: 50px;
    position: relative;
}

.buttonContainer button{
    background-color: #ffcc5c;
    border: none;
    color: #000000;
    outline: 0;
    display: inline-block;
    position: relative;
    height: 35px;
    top: 3px;
    font: 20px "Verdana";
    margin: 5px;
}